<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link href="/static/index.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="info-table">
    <h1>validators</h1>
    <table>
    <thead>
      <tr>
        <th>name</th>
        <th>power</th>
        <th>identity</th>
      </tr>
    </thead>
    <tbody>
    {% for validator in validators %}
      <tr>
        <th><a href="/current/validators/{{ validator.identity }}">{{ validator.name }}</a></th>
        <th>{{ validator.voting_power }}</th>
        <th>{{ validator.identity }}</th>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
</body>
</html>
